<div class="col-4 col-12-medium">
<div id="sidebar">
<section>
<header class="major">
<h2>Добро пожаловать</h2>
</header>
<p>
Откройте для себя мир аниме: популярные тайтлы, новые сезоны и любимые жанры.
</p>
<footer>
<a asp-area="" asp-controller="Anime" asp-action="Index" class="button icon solid fa-info-circle">
Перейти в каталог
</a>
</footer>
</section>
</div>
</div>
