@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer L
<div class="col-4 col-12-medium">
<div id="sidebar">
<section>
<header class="major">
<h2>@L["Title"]</h2>
</header>
<p>
@L["Description"]
</p>
<footer>
<a asp-area="" asp-controller="Anime" asp-action="Index" class="button icon solid fa-info-circle">
@L["OpenCatalog_Button"]
</a>
</footer>
</section>
</div>
</div>
