@inject IConfiguration config
@{
AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();
}
@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
<div id="content">
<article>
<header class="major">
<h2>Добро пожаловать в @appConfig?.Company.CompanyName</h2>
<p>Твой тёмный портал в мир аниме: открывай новинки, классику и топовые жанры</p>
</header>
<span class="image featured"><img src="~/img/theme-hero-anime.svg" alt="anime catalog hero" /></span>
</article>
</div>
</div>
